// @file
// The major stylesheet for this theme.
//
// We categorize our components by creating headings in this file. See the
// description on the style guide home page for more information.


// Colors and Sass
//
// Documentation for colors and Sass mixins and variables.
//
// Weight: -1
//
// Style guide: sass
@import 'init';

// Defaults
//
// These are the default base styles applied to HTML elements.
//
// Component classes can override these styles, but if no class applies a style
// to an HTML element, these styles will be the ones displayed.
//
// Style guide: base

// Ensure fonts get loaded first to minimize front-end performance impact.
@import 'base/fonts';
@import 'base/normalize';

// Layouts
//
// The layout styling for major parts of the page that are included with the
// theme. Note: some Panels layouts are included in other parts of the system
// and are not documented.
//
// Style guide: layouts
@import 'layouts/layout-3col/layout-3col';
@import 'layouts/layout-center/layout-center';
@import 'layouts/layout-swap/layout-swap';

// Components
//
// Design components are reusable designs that can be applied using just the CSS
// class names specified in the component.
//
// Weight: 1
//
// Style guide: components

@import 'components/box/box';
@import 'components/clearfix/clearfix';
@import 'components/comment/comment';
@import 'components/divider/divider';
@import 'components/header/header';
@import 'components/hidden/hidden';
@import 'components/highlight-mark/highlight-mark';
@import 'components/inline-links/inline-links';
@import 'components/inline-sibling/inline-sibling';
@import 'components/messages/messages';
@import 'components/print-none/print-none';
@import 'components/responsive-video/responsive-video';
@import 'components/visually-hidden/visually-hidden';
@import 'components/watermark/watermark';
@import 'components/wireframe/wireframe';

// Navigation
//
// Navigation components are specialized design components that are used for
// page navigation.
//
// Weight: 2
//
// Style guide: navigation

@import 'navigation/breadcrumb/breadcrumb';
@import 'navigation/more-link/more-link';
@import 'navigation/nav-menu/nav-menu';
@import 'navigation/navbar/navbar';
@import 'navigation/pager/pager';
@import 'navigation/skip-link/skip-link';
@import 'navigation/tabs/tabs';

// Forms
//
// Form components are specialized design components that are applied to forms
// or form elements.
//
// Weight: 3
//
// Style guide: forms

@import 'forms/autocomplete/autocomplete';
@import 'forms/button/button';
@import 'forms/collapsible-fieldset/collapsible-fieldset';
@import 'forms/form-item/form-item';
@import 'forms/form-table/form-table';
@import 'forms/progress-bar/progress-bar';
@import 'forms/progress-throbber/progress-throbber';
@import 'forms/resizable-textarea/resizable-textarea';
@import 'forms/table-drag/table-drag';

.field-name-field-tags {

  .field-item {
    display: inline;
  }

  ul {
    list-style: none;
    display: inline;
    padding: 0;
  }

  li {
    display: inline;
  }

  a {
    background: #aaa;
    border-radius: 3px 0 0 3px;
    color: #fff;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding: 0 2em 0 1em;
    position: relative;
    margin: 0 10px 10px 0;
    text-decoration: none;
    -webkit-transition: color 0.2s;
  }

  a:before {
    background: #eee;
    border-radius: 10px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
    content: '';
    height: 6px;
    right: 10px;
    position: absolute;
    width: 6px;
    top: 10px;
  }

  a:after {
    background: #eee;
    border-bottom: 13px solid transparent;
    border-left: 10px solid #aaa;
    border-top: 13px solid transparent;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
  }

  a:hover {
    background: #900;
  }

  a:hover:after {
    border-color: transparent transparent transparent #900;
  }
}

.field-name-field-topic {
  ul {
    list-style: none;
    display: inline;
    padding: 0;
  }

  li {
    display: inline;
  }

  a {
    background: #aaa;
    border-radius: .2rem;
    color: #fff;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding: 0 1em 0 1em;
    position: relative;
    margin: 0 1rem 1rem 0;
    text-decoration: none;
    -webkit-transition: color 0.2s;
  }

  a:hover {
    background: #900;
  }

  a:after {
    content: "";
    position: absolute;
    top: .3rem;
    right: -1rem;
    bottom: auto;
    left: auto;
    border-width: .7rem 0 0 1rem;
    border-color: transparent #aaa;
    border-style: solid;
    display: block;
    width: 0;
  }

  a:hover:after {
    border-color: transparent #900;
  }
}

nav.header__secondary-menu {
  .user-picture {
    img {
      height: 4rem;
      width: auto;
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  a{
    display:block;
    padding:0 10px;
    line-height: 2rem;
    color:#000;
    text-decoration:none;

    &:hover{
      background: #666;
      color: #fff;
    }
  }

  ul {
    list-style: none;
  }

  ul li {
    display: inline-block;
  }

  ul ul {
    display: none;
    position: absolute;
    top: 4rem;
    right: 0;
  }

  ul ul li {
    background-color: #eee;
  }

  ul li:hover > ul {
    display:inherit;
  }

  ul ul li {
    width:15rem;
    float:none;
    display:list-item;
    position: relative;
  }

}