/*
 * @file
 * global.styles
 *
 * Styles you add here will load for all device sizes, they are "global", as
 * opposed to "responsive" styles, which only load for a given breakpoint (media
 * query) that you set in theme settings. See the README for more details.
 *
 *
 * How to use this file:
 * --------------------
 *
 * There are many empty selectors and some basic styles to act as a guide.
 * Nothing is set in stone and you can change anything - even delete all of it
 * and start with your own clean slate.
 *
 * To FORCE PRINT all selectors you can search and replace a single { (opening
 * curly brace) and insert an empty comment. This is very useful in conjuction
 * with FireSass: https://addons.mozilla.org/en-US/firefox/addon/firesass-for-firebug/
 *
 * See global.base also which includes normalize.css and some additional
 * helper classes and base styles.
 */
/* =============================================================================
 *   Font faces
 * ========================================================================== */
@font-face {
  font-family: 'League Gothic';
  src: url("../css/fonts/LeagueGothic-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local("Oswald Regular"), local("Oswald-Regular"), url("../css/fonts/Oswald.woff") format("woff");
}
@font-face {
  font-family: 'Comfortaa';
  src: local("Comfortaa"), url("../css/fonts/Comfortaa.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
/* =============================================================================
 *   Base
 * ========================================================================== */
/*
 * To preserve theme settings never apply font properties to the HTML element.
 * This is critically important if you are using the Responsive JavaScript
 * feature as this relies on being able to set a pseudo font family on the HTML
 * element. If you need to set default font properties of any kind use the BODY
 * element as these can be overridden using font theme settings.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\0000364}}
html {
  background: #fff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\0000368}}
body {
  background: #1b1b1b;
  font-family: 'Comfortaa';
  font-weight: lighter;
  font-style: normal;
  font-size: 14px;
  text-align: justify;
  letter-spacing: 0.03em;
}

/* =============================================================================
 *   HTML Elements
 * ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\0000378}}
h1 {
  font-family: 'Oswald';
  font-weight: normal;
  font-style: normal;
  font-size: 22px;
  letter-spacing: 0.02em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\0000383}}
h2 {
  font-family: 'Oswald';
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  letter-spacing: 0.02em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\00003162}}
pre,
code,
tt,
samp,
kbd,
var {
  font-family: Consolas, Monaco, "Courier New", Courier, monospace, sans-serif;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\00003171}}
pre {
  margin-left: 2em;
  border: solid 1px #cccccc;
  background: #fff;
  padding: 1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\00003178}}
code {
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\00003182}}
hr {
  border: .3em dotted gray;
  height: 0;
  width: .87em;
}

/* =============================================================================
 *   Wrappers
 * ========================================================================== */
/*
 * Outer wrappers:
 * - #page-wrapper: body > #page-wrapper
 * - #page: body > #page-wrapper > #page
 * - .container: body > #page-wrapper > #page.container
 *
 * The .container class holds the page width value from theme settings. You can
 * style the .container class but do not add width such as border, padding,
 * margins etc.
 */
/*
 * Wraps all header elements - branding and .region-header
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\00003214}}
#header {
  width: 96%;
  padding: 2%;
  color: #eee;
  background: url(images/stripe2.png) bottom left repeat-x #333;
  position: relative;
}

/*
 * Wraps the sidebars the content column
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\00003226}}
#columns {
  background: #eee;
}

/*
 * Main content column wrapper
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\00003234}}
#content-column {
  margin-top: 1em;
}

/*
 * Wraps the main-content-header, the content region and feed-icons. Use this
 * wrapper to style the entire main content column
 */
/*
 * Wraps the content region, avoid applying styles to this wrapper, its used
 * mainly for position and invisible gutters and can be problematic to style
 */
/*
 * Footer wrapper
 */
/*
 * Panels may need additional margin wrangling when in the $content region
 */
/*
 * Full Width Wrappers
 * These are used in the optional page--full-width-wrappers.tpl.php template.
 * All have internal .container classes. In the full width wrapper template the
 * .container classes set the width or max-width - you can style this but never
 * add any width/margin/padding/borders etc to .container
 */
/*
 * Wraps the leaderboard
 */
/*
 * Wraps the header
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\00003284}}
#header-wrapper {
  /* Debug styles, is this working */
  background: rgba(255, 192, 203, 0.5);
}

/*
 * Wraps the nav elements
 */
/*
 * Wraps breadcrumb
 */
/*
 * Wraps messages and help
 */
/*
 * Wraps the secondary content/preface region
 */
/*
 * Wraps the main content column
 */
/*
 * Wraps the tertiary content/postfix region
 */
/*
 * Footer wrapper
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\00003342}}
#footer-wrapper {
  /* Debug styles, is this working? */
  background: rgba(255, 192, 203, 0.5);
}

/* =============================================================================
 *   Branding
 * ========================================================================== */
/*
 * Wraps all the branding elements, logo, name and slogan
 */
/*
 * Logo
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\00003363}}
#logo {
  padding: 10px 0;
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\00003367}}
#logo img {
  vertical-align: bottom;
}

/*
 * Wrapper for the site name and slogan
 */
/*
 * Site name (h1)
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\00003382}}
#site-name {
  margin: 0;
  font-family: 'Comfortaa';
  font-weight: lighter;
  font-style: normal;
  font-size: 38px;
  text-align: justify;
  letter-spacing: 0.03em;
  text-shadow: -1px -2px 0px #000;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\00003388}}
#site-name a {
  color: #eee;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\00003391}}
#site-name a:link, #site-name a:visited {
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\00003396}}
#site-name a:hover, #site-name a:focus {
  text-decoration: none;
}

/*
 * Site slogan (h2)
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\00003407}}
#site-slogan {
  margin: 0;
}

/* =============================================================================
 *   Page content header
 * ========================================================================== */
/*
 * Main content header wraps the page title, tabs and actions links
 */
/*
 * The main page title (h1)
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\00003425}}
#page-title {
  margin: 0;
}

/* =============================================================================
 *   Misc Global Styles
 * ========================================================================== */
/*
 * Feed icons
 */
/*
 * Aggregator feed source
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\00003443}}
#aggregator .feed-source .feed-icon {
  display: inline;
  float: none;
  margin-right: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\00003450}}
.feed-details dt,
.feed-details dd {
  display: inline;
  margin: 0;
}

/*
 * Generic styles for the more link
 */
/*
 * Generic styles for links. See the ul.links declaration in node and comment stylesheets
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\00003466}}
ul.links {
  margin: 0;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\00003470}}
ul.links.inline {
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\00003474}}
ul.links li {
  display: inline;
  list-style: none;
  padding: 0 10px 0 0;
}

/*
 * Search results are an ordered list so reset the margin
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\00003485}}
.search-results {
  margin: 0;
  padding: 0;
}

/*
 * Attribution message and link
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\00003494}}
.attribution {
  display: block;
  opacity: 0.65;
  padding: 1em 0;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\00003500}}
.attribution a {
  text-decoration: none;
  color: inherit;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\00003504}}
.attribution a:hover, .attribution a:focus {
  text-decoration: underline;
}

/* =============================================================================
 *   Regions
 * ========================================================================== */
/*
 * Standard region wrapper, don't add width to any regions, you will bork the layout - no margin, padding or borders etc
 */
/*
 * Regions have an inner div - perfect for adding margin, padding or borders
 */
/*
 * Regions can be nested, such as when using Panels
 */
/*
 * Header region, embedded in the #header
 */
/*
 * Generally used to output Drupals help block, if the help module is enabled
 */
/*
 * Secondary content
 */
/*
 * Sits above the main content header, like a content-top region
 */
/*
 * Sits below the main content, like a content-bottom region
 */
/*
 * Sidebars - targets both
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\00003568}}
.sidebar .block {
  margin: 0 1em 20px 2em;
  background: #ddd;
  border-right: solid 2px #bbb;
  border-bottom: solid 2px #bbb;
}

/*
 * First sidebar
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\00003580}}
.region-sidebar-first {
  margin-top: 1em;
}

/*
 * Second sidebar
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\00003588}}
.region-sidebar-second {
  margin-top: 1em;
}

/*
 * Tertiary content
 */
/*
 * Footer region
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\00003602}}
.region-footer {
  float: left;
  clear: both;
  width: 100%;
  padding: 1%;
  font-family: 'Comfortaa';
  font-weight: normal;
  font-style: normal;
  text-align: center;
  border-top: solid 2px #0b0b0b;
  color: #eee;
  background: #1b1b1b;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\00003615}}
.region-footer a {
  color: #f00;
}

/* =============================================================================
 *   Links
 * ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\00003625}}
a {
  text-decoration: none;
  color: #600;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\00003635}}
a:hover, a:focus {
  text-decoration: underline;
}

/* =============================================================================
 *   Primary, Secondary and Menu Bar region menus
 * ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\00003646}}
#primary-menu-bar {
  bottom: 0;
  position: absolute;
  margin-bottom: 0;
  padding-left: 190px;
  font-family: Oswald;
  font-size: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\00003658}}
#primary-menu-bar li.active a,
#primary-menu-bar li.active a:hover {
  color: red;
  border-bottom: solid 0.2em red;
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\00003665}}
#primary-menu-bar li a,
#secondary-menu-bar li a {
  color: #fff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\00003670}}
#secondary-menu-bar {
  position: absolute;
  bottom: 0;
  right: 0;
  font-family: Oswald;
  font-size: 20px;
  margin-bottom: 0.2em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\00003679}}
.nav {
  clear: both;
  margin: 10px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\00003683}}
.nav ul,
.nav ul.menu {
  margin: 0;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\00003689}}
.nav li,
.nav ul.menu li {
  display: inline;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\00003698}}
.nav li a,
.nav ul.menu li a {
  display: block;
  white-space: nowrap;
  padding: 0 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\00003710}}
.nav .block {
  margin-bottom: 0;
}

/* =============================================================================
 *   Superfish
 * ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\00003720}}
ul.sf-menu {
  margin-bottom: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\00003723}}
ul.sf-menu a {
  border-left: 0;
  border-top: 0;
  padding: 0 10px;
  text-decoration: none;
  height: 2.5em;
  line-height: 2.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\00003736}}
ul.sf-menu li:hover, ul.sf-menu li.sfHover {
  outline: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\00003743}}
ul.sf-menu a:focus, ul.sf-menu a:hover, ul.sf-menu a:active {
  outline: 0;
}

/*
 * Superfish blocks
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\00003759}}
.block-superfish ul {
  margin: 0 !important;
  padding: 0 !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\00003770}}
.block-superfish li {
  margin: 0 !important;
  padding: 0 !important;
}

/*
 * Vertical style
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\00003780}}
.sf-vertical {
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\00003783}}
.sf-vertical li {
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\00003788}}
.sf-vertical li:hover ul, .sf-vertical li.sfHover ul {
  left: 100%;
  top: 0;
  margin: 0;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\00003796}}
.sf-vertical li a {
  padding: 0 10px;
}

/*
 * Navbar style
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\00003806}}
.sf-navbar {
  padding-bottom: 0 !important;
}

/*
 * Sensible padding for the default style
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\00003814}}
.sf-menu.sf-style-default a {
  padding: 0 10px;
}

/* =============================================================================
 *   Menu Toggles
 * ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\00003824}}
.at-mt .at-menu-toggle,
.at-mt .at-menu-toggle ul,
.at-mt .at-menu-toggle ul.menu {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\00003832}}
.at-mt .at-menu-toggle-button {
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\00003836}}
.at-mt .at-menu-toggle ul a {
  padding: 0 10px;
  white-space: nowrap;
}

/* =============================================================================
 *   Menus, usually blocks
 * ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\00003847}}
ul.menu {
  padding-left: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\00003850}}
ul.menu ul {
  padding-left: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\00003858}}
ul.menu li {
  margin: 0;
}

/* If li.content exists it's a problem, so reset the padding */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\00003887}}
.block .menu li.content {
  padding: 0;
}

/* =============================================================================
 *   Book navigation menu
 * ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\00003904}}
.book-navigation .page-up {
  /* Prevent text wrapping to a new line, assumes English "up" is used (two characters) */
  min-width: 2em;
  white-space: nowrap;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\00003910}}
.book-navigation .menu {
  margin-left: 0;
}

/* =============================================================================
 *   Breadcrumbs
 * ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\00003920}}
#breadcrumb {
  margin: 10px 0;
  /* If the label is set to show in theme settings the label class is added */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\00003924}}
#breadcrumb .breadcrumb-label {
  font-size: 1em;
  display: inline;
  padding-right: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\00003929}}
#breadcrumb .breadcrumb-label:after {
  content: ":";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\00003934}}
#breadcrumb ol {
  margin: 0;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\00003939}}
#breadcrumb .with-breadcrumb-label ol {
  display: inline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\00003943}}
#breadcrumb li {
  list-style: none;
  display: inline;
  padding-right: 0.3em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\00003948}}
#breadcrumb li .crumb-separator {
  padding-right: 0.3em;
}

/* =============================================================================
 *   Pagers
 * ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\00003975}}
ul.pager {
  clear: both;
  margin: 0;
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\00003982}}
.item-list ul.pager li {
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\00003987}}
ul.pager li {
  background-image: none;
  display: inline;
  list-style-type: none;
  padding: .5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\00003993}}
ul.pager li.pager-current {
  font-weight: 700;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\00003999}}
.block ul.pager li {
  margin: 0;
}

/*
 * Theme the various states of pager links
 */
/* =============================================================================
 *   Skip Navigation
 * ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\000031036}}
#skip-link {
  left: 50%;
  margin-left: -6.5em;
  margin-top: 0;
  padding: 0 0.5em;
  position: absolute;
  width: 12em;
  z-index: 50;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\000031045}}
#skip-link a {
  background: #444;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  display: block;
  line-height: 2;
  padding: 0;
  text-align: center;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\000031055}}
#skip-link a:link, #skip-link a:visited {
  background: #444;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  display: block;
  line-height: 2;
  padding: 0;
  text-align: center;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\000031066}}
#skip-link a:hover, #skip-link a:focus, #skip-link a:active {
  outline: 0;
}

/* =============================================================================
 *   Tabs (local tasks)
 * ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\000031079}}
#tasks {
  margin-bottom: 15px;
  font-family: Oswald;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\000031085}}
ul.primary {
  border-bottom: none;
  border-top: solid 1px #ccc;
  margin: 0.2em 0 1em 0;
  padding: 0 0 0 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\000031091}}
ul.primary li {
  display: block;
  float: left;
  margin: 0 1px -1px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\000031096}}
ul.primary li a {
  border-top: solid 0.3em transparent;
  border-right: none;
  border-bottom: none;
  border-left: none;
  background: none;
  margin-right: 1px;
  padding: 0 10px;
  display: block;
  float: left;
  height: 1.5em;
  line-height: 1.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\000031109}}
ul.primary li a:hover, ul.primary li a:focus {
  border-top: solid 0.3em #ddd;
  border-right: none;
  border-bottom: none;
  border-left: none;
  background: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\000031121}}
ul.primary li.active a,
ul.primary li.active a:hover,
ul.primary li.active a:focus {
  border-top: solid 0.3em #ccc;
  border-right: none;
  border-bottom: none;
  border-left: none;
  background: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\000031134}}
ul.secondary {
  border-bottom: 1px solid #ccc;
  margin: 1em 0 0;
  padding: 0 .3em 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\000031139}}
ul.secondary li {
  border-right: 0;
  list-style: none;
  padding: 0 10px 0 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\000031145}}
ul.secondary li a:hover, ul.secondary li a.active {
  border-bottom: none;
  text-decoration: underline;
}

/* =============================================================================
 *   Action links
 * ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\000031159}}
ul.action-links {
  margin: 20px 0 0;
  list-style: none;
}

/* =============================================================================
 *  Field Styling
 * ========================================================================== */
/*
 * Wrapper for any field
 */
/*
 * Above and inline classes are on the field wrapper
 */
/*
 * When labels are set to inline in field display settings the clearfix class is automatically added
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\000031186}}
.field-label-inline {
  /* Remove the margin on inline field lables to preserve vertical formatting */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\000031189}}
.field-label-inline .field-label {
  margin: 0;
}

/*
 * Labels are h2 in Adaptivetheme. Use a strong selector to mitigate unwanted ineritance issues
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\000031197}}
.field-label {
  font-size: 1em;
  font-weight: 700;
  font-family: inherit;
  line-height: inherit;
  margin-bottom: 0;
}

/*
 * Field types (Core)
 */
/*
 * Image fields use the <figure> and <figcaption> elements from HTML5
 */
/*
 * Taxonomy
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\000031226}}
.field-type-taxonomy-term-reference {
  /* The same bottom margin as p, blockquote, ul, ol and dl */
  margin-bottom: 1.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\000031231}}
.field-type-taxonomy-term-reference.field-label-inline .field-items {
  margin: 0;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\000031236}}
.field-type-taxonomy-term-reference.field-label-inline .field-item {
  display: inline;
  list-style: none;
  padding: 0 10px 0 0;
}

/*
 * Text
 */
/*
 * Long text
 */
/*
 * Text with summary
 */
/*
 * File
 */
/*
 * Number/Integer
 */
/*
 * Decimal
 */
/*
 * Number float
 */
/*
 * List
 */
/*
 * List boolean
 */
/*
 * List integer
 */
/*
 * List float
 */
/*
 * Field types (Contrib)
 */
/*
 * Named fields
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\000031328}}
.field-name-field-tags ul {
  list-style: none;
  display: inline;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\000031334}}
.field-name-field-tags li {
  display: inline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\000031338}}
.field-name-field-tags a {
  background: #aaa;
  border-radius: 3px 0 0 3px;
  color: #fff;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 2em 0 1em;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\000031352}}
.field-name-field-tags a:before {
  background: #eee;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  right: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\000031364}}
.field-name-field-tags a:after {
  background: #eee;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #aaa;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\000031375}}
.field-name-field-tags a:hover {
  background: #900;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\000031379}}
.field-name-field-tags a:hover:after {
  border-color: transparent transparent transparent #900;
}

/*
 * Underscores in field name are replaced with dashes
 */
/*
 * Image Alignment Theme Settings - included here so you can easily override
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\000031395}}
figure {
  float: right;
  padding-left: 2em;
  padding-bottom: 0.3em;
  clear: right;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\000031402}}
figcaption {
  text-align: center;
  font-weight: bold;
}

/*
 * Float none setting
 */
/*
 * Float left setting
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\000031417}}
.ia-l .field-type-image figure,
.iat-l .field-type-image figure {
  margin: 5px 20px 15px 0;
}

/*
 * Centered setting
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\000031426}}
.ia-c .field-type-image figure,
.iat-c .field-type-image figure {
  margin: 5px auto 15px;
}

/*
 * Float right setting
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\000031435}}
.ia-r .field-type-image figure,
.iat-r .field-type-image figure {
  margin: 5px 0 15px 20px;
}

/* =============================================================================
 *   Block Styling
 * ========================================================================== */
/*
 * Main wrapper for most blocks, block_system_main does not have it
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\000031449}}
.block {
  margin-bottom: 20px;
}

/*
 * Inner wrapper for most blocks, good for margin, padding and borders, block_system_main does not have it
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\000031457}}
.block-inner {
  margin: 0;
  padding: 0;
}

/*
 * The first block in the region
 */
/*
 * The last block in the region
 */
/*
 * Zebra striping for each block in the region
 */
/*
 * Zebra striping for each block in the region
 */
/*
 * Block title
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\000031490}}
.block-title {
  margin: 0;
  border-bottom: solid 1px #c28e8e;
  padding: 0.1em 0.3em 0 0.3em;
  font-family: 'Oswald';
  font-weight: normal;
  font-style: normal;
  font-size: 22px;
  letter-spacing: 0.02em;
}

/*
 * Block content wrapper
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\000031503}}
.block-content {
  padding: 0 0.3em 0 0.3em;
}

/*
 * Match item list and block menu margin and padding
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\000031514}}
.block-content ul,
.block-content ol {
  padding: 0 0 0 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\000031519}}
.block-content li {
  margin: 0;
  padding: 0;
}

/*
 * Block for the latest news items in the first category
 */
/*
 * Block for the latest news items in the first feed
 */
/*
 * First block created with "Add block" link
 */
/*
 * "Recent blog posts" block
 */
/*
 * "Book navigation" block for the current book's table of contents
 */
/*
 * "Recent comments" block
 */
/*
 * "Active forum topics" block
 */
/*
 * "New forum topics" block
 */
/*
 * Language switcher block
 */
/*
 * Custom menu block
 */
/*
 * "Recent content" block
 */
/*
 * "Syndicate" block for primary RSS feed; see also page.css's .feed-icon
 */
/*
 * "Most recent poll" block
 */
/*
 * "Author information" block for the profile of the page's author
 */
/*
 * "Search form" block
 */
/*
 * "Shortcuts" block
 */
/*
 * "Popular content" block
 */
/*
 * "Main menu" block
 */
/*
 * "Management" block for Drupal management menu
 */
/*
 * "Navigation" block for Drupal navigation menu
 */
/*
 * "User menu" block for Drupal user menu
 */
/*
 * "System help" block
 */
/*
 * "Main page content" block
 */
/*
 * "Powered by Drupal" block
 */
/*
 * "User login form" block
 */
/*
 * "Who's new" block for a list of the newest users
 */
/*
 * "Who's online" block for a list of the online users
 */
/* =============================================================================
 *   Node Styling
 * ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\000031692}}
.node {
  margin-bottom: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\000031709}}
.node .node-title {
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\000031713}}
.node .user-picture {
  float: right;
  padding: 0 0 0.3em 1em;
}

/*
 * All nodes are given a node-FOO class that describes the type of content that
 * it is. If you create a new content type called "my-custom-type", it will
 * receive a "node-my-custom-type" class.
 */
/* =============================================================================
 *   Comment Styling - Comments, comment wrapper, comment form
 * ========================================================================== */
/*
 * Wrapper for the list of comments and its titles
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\000031770}}
#comments {
  margin: 1.5em 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\000031774}}
#comments h2.comment-title {
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\000031778}}
#comments h2.comment-form {
  margin: 0;
}

/*
 * Wrapper for a single comment
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\000031788}}
.comment {
  margin-bottom: 20px;
  padding: 0.3em;
  display: table;
  vertical-align: top;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\000031802}}
.comment .user-picture {
  width: 100px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\000031806}}
.comment .author-datetime {
  font-family: Oswald;
  font-size: 11px;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\000031812}}
.comment footer {
  display: table-cell;
  vertical-align: top;
  overflow: hidden;
  padding: 0 30px 0 0;
  background: url("../css/images/comment-triangle.png") top right no-repeat;
  font-family: Oswald;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\000031821}}
.comment nav {
  background: #fff;
  font-family: Oswald;
  letter-spacing: 0.03em;
  padding-bottom: 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\000031827}}
.comment nav ul {
  border-top: solid 1px #ccc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\000031843}}
.comment ul.links {
  padding-left: 0.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\000031848}}
.comment-content {
  display: table-cell;
  vertical-align: top;
  position: relative;
  width: 100%;
  background: #fff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\000031856}}
.comment-header {
  background: #fff;
  font-family: Oswald;
  font-size: 16px;
  padding: 0.3em 0.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\000031863}}
.field-name-comment-body {
  padding: 0.3em 0.5em;
}

/*
 * Comment title
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\000031870}}
.comment-title {
  margin: 0;
}

/*
 * Comment states
 */
/*
 * Preview of the comment before submitting new or updated comment
 */
/*
 * "New" marker for comments that are new for the current user
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\000031902}}
.new {
  color: #c00;
}

/*
 * Nested comments are indented
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\000031910}}
.indented {
  margin-left: 40px;
}

/* =============================================================================
 *   Forms
 * ========================================================================== */
/*
 * Wrapper for a form element (or group of form elements) and its label
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\000031924}}
.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  border: 1px solid #c00;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\000031930}}
.form-item label {
  font-weight: 700;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\000031937}}
.form-item .description {
  font-size: 0.85em;
}

/*
 * Highlight marks and form required mark
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\000031950}}
.marker,
.form-required {
  color: #c00;
}

/*
 * The submit button
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\000031964}}
.container-inline div,
.container-inline label {
  display: inline;
}

/*
 * Define consistent borders
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\000031973}}
fieldset {
  border: 1px solid #ccc;
}

/*
 * Tips for Drupal's input formats
 */
/*
 * Buttons used by contrib modules like Media
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\000031987}}
a.button {
  -moz-appearance: button;
  -webkit-appearance: button;
}

/*
 * Password confirmation
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\000031995}}
.password-parent,
.confirm-parent {
  margin: 0;
}

/* =============================================================================
 *   Tables
 * ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\000032005}}
table {
  margin: 10px 0;
  padding: 0;
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\000032010}}
table.sticky-header {
  z-index: 10;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\000032016}}
table,
thead,
tbody,
tr,
th,
td {
  border-color: #ccc;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\000032026}}
table,
td,
th {
  vertical-align: middle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\000032033}}
caption,
th,
td {
  text-align: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\000032040}}
thead tr {
  font-weight: 700;
  background-color: #e5e5e5;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\000032046}}
td,
th {
  border-bottom: 0;
  margin: 0;
  padding: 5px 7px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\000032057}}
tbody tr {
  border-top: 1px solid #ccc;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\000032062}}
tr {
  /* Table row striping */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\000032064}}
tr.odd {
  background: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\000032069}}
tr.info, tr.even, tr:nth-child(2n+2) {
  border-bottom: 0;
  background-color: #f5f5f5;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\000032080}}
tr.odd td.active {
  background-color: #eee;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\000032084}}
tr.even td.active {
  background-color: #ebebeb;
}

/*
 * Forum tables
 * Core sets white-space to nowrap, which makes no sense
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\000032107}}
#forum td.created, #forum td.posts, #forum td.topics, #forum td.last-reply, #forum td.replies, #forum td.pager {
  white-space: normal;
}

/* =============================================================================
 *   Messages
 * ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\000032123}}
div.messages {
  margin-bottom: 10px;
  margin-top: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\000032128}}
div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\000032134}}
div.status {
  background: url("../css/images/notice.png") top repeat-x #ddffdd;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\000032138}}
div.warning {
  background: url("../css/images/warning.png") top repeat-x #fbf5d6;
}

/*
 * Unpublished nodes
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\000032171}}
.node-unpublished p.unpublished,
.comment-unpublished p.unpublished {
  color: pink;
  color: rgba(239, 170, 170, 0.4);
  font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans-serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 1.2;
  height: 0;
  margin: 0;
  padding: 0;
  overflow: visible;
  text-align: center;
  text-transform: uppercase;
  word-wrap: break-word;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/_custom\.scss}line{font-family:\00003208}}
.ie6-7 .node-unpublished p.unpublished > *, .ie6-7
.comment-unpublished p.unpublished > * {
  position: relative;
}

/* =============================================================================
 *    Maintenance pages
 * ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\000032182}}
.maintenance-page .container {
  padding: 40px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\000032186}}
.maintenance-page #site-name,
.maintenance-page #page-title {
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\000032194}}
.db-offline .container {
  margin: 0 auto;
  padding: 40px 0;
  width: 100%;
  max-width: 960px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\000032201}}
.db-offline div.messages {
  margin: 20px 0 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\000032205}}
.db-offline #content {
  padding: 20px 0;
}

/* =============================================================================
 *   Misc overrides for contrib modules
 * ========================================================================== */
/*
 * Admin menu overrides
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\000032218}}
#admin-menu {
  margin: 0;
  padding: 0;
}

/*
 * Devel Module
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\000032227}}
.dev-query {
  background: #eee;
  padding: 30px;
}

/*
 * Styleguide module tweaks
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\000032236}}
#styleguide-header {
  padding: 0 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tess\/projects\/deninet\.com\/sites\/all\/themes\/studiolights\/sass\/global\.styles\.scss}line{font-family:\000032239}}
#styleguide-header .item-list {
  font-family: inherit;
  margin: 0 20px 20px 0;
  min-height: 260px;
  width: auto;
}
